.contents
  .chat-user
    .chat-user__myself
      %p yuuto
      = link_to edit_user_registration_path do
        .i.fa.fa-cog
      = link_to new_group_path do
        .fa.fa-pencil-square-o
    .chat-user__groups
      %ul.groups
        %li
          techmaster
          %span まだメッセージはありません
        %li
          techchat
          %span まだメッセージはありません
        %li
          mentor task management
          %span まだメッセージはありません
  .chat-screen
    .chat-screen__group{:clearfix => ""}
      .group-name
        %h1 techmaster
        %h2 Members:  yuto tensho
      .edit
        %input#edit_button{:name => "edit", :type => "edit", :value => "edit"}/
    .chat-screen__messages
      %ul.messages
        %li
          yuto
          %span chatspace楽しい
        %li
          yuto
          %span chatspace楽しい
        %li
          yuto
          %span chatspace楽しい
    .chat-screen__submit
      .message
        %input#message{:name => "message", :type => "message", :value => "type a message"}/
      .send
        %input#send{:name => "send", :type => "send", :value => "send"}/
