@import "./reset";
@import "./top";
@import "./user";
@import "./group";
@import "font-awesome";



.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}

