$bg-color1: #38AEF0;
$bg-color2: #FFFFFF;

html, body {
  height: 100%;
  width: 1440px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}

.chat-user {
  float: left;
  width: 300px;
    &__myself{
      height: 100px;
      background-color: #253141;
        p {
          float: left;
          padding-top: 30px;
          padding-left: 10px;
          color: $bg-color2;
          font-size: 20px;
          text-align: center;
          vertical-align: middle;
        }
        .fa-cog {
          float: right;
          padding-top: 35px;
          padding-right: 20px;
          font-size: 30px;

        }
        .fa-pencil-square-o {
          float: right;
          padding-top: 35px;
          padding-right: 10px;
          font-size: 30px;
        }
    }

    &__groups {
      height: 800px;
      background-color: #2f3e51;
        .groups {
              height: 91px;
                  li {
                    padding-top: 20px;
                    padding-left: 10px;
                    color: $bg-color2;
                    font-size: 15px;
                        span {
                          padding-top: 5px;
                          padding-bottom: 5px;
                          color: $bg-color2;
                          font-size: 11px;
                            }
                    }
        }
    }
}


.chat-screen {
  float: left;
  width: 1140px;
    &__group {
      height: 100px;
          .group-name {
                  float: left;
                  width: 200px;
                        h1 {
                          padding-top: 30px;
                          padding-left: 40px;
                          color: #333333;
                          font-size: 20px;
                        }
                        h2 {
                          padding-top: 15px;
                          padding-left: 40px;
                          color: #999999;
                          font-size: 12px;
                        }
                      }
                    .edit {
                         float: right;
                         margin: 2px;
                         margin-top: 25px;
                         margin-right: 30px;
                         border-style: solid;
                         border-color: #38AEF0;
                         background-color: $bg-color2;
                              input {
                                 width: 60px;
                                 height: 40px;
                                 color: $bg-color1;
                                 font-size: 15px;
                                 text-align: center;
                                    }
                          }
    }

    &__messages {
      height: 700px;
      background-color: #AAAAAA;
        .messages li {
                      padding-top: 40px;
                      padding-left: 40px;
                      color: $bg-color2;
                      font-size: 15px;
                            span {
                              color: #FFFFFF;
                              font-size: 11px;
                                }
                    }
                }

    &__submit {
      height: 100px;
      background-color: #434A54;
          .message {
            float: left;
            padding-top: 20px;
            padding-left: 20px;
                  input#message {
                      width: 950px;
                      height: 60px;
                      margin: auto;
                      padding-left: 20px;
                      border-right: 20px;
                      border-style: none;
                      font-size: 15px;
                        }
          }
          .send {
             float: right;
             margin: 0 auto;
             padding-top: 20px;
             padding-right: 20px;
                        input#send {
                            width: 100px;
                            height: 60px;
                            border-right: 20px ;
                            border-style: none;
                            font-size: 15px;
                            font-size: 15px;
                        }
        }

    }
}

