$bg-color1: #38AEF0;
$bg-color2: #FFFFFF;

html, body {
  height: 100%;
  width: 1440px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}

.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}
