// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
  width: 1440px;
}



// .contents{
//   width: 960px;
// }

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


.create-message{
  height: 25px;
  background-color: #38AEF0;
    p{
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}


.chat-user{
  width: 300px;
  float: left;
    &__myself{
      height: 100px;
      background-color: #253141;
        p{
          float: left;
          color: #FFFFFF;
          font-size: 20px;
          text-align: center;
          vertical-align: middle;
          padding-top: 30px;
          padding-left: 10px;
        }
        .fa-cog{
          font-size: 30px;
          float: right;
          padding-top: 35px;
          padding-right: 20px;
        }
        .fa-pencil-square-o{
          font-size: 30px;
          float: right;
          padding-top: 35px;
          padding-right: 10px;
        }
    }
    &__groups{
      height: 780px;
      background-color: #2f3e51;
          .groups{
              height: 91px;
                  li{
                    padding-left: 10px;
                    font-size: 15px;
                    padding-top: 20px;
                    color: #FFFFFF;
                        span{
                          font-size: 11px;
                          padding-top: 5px;
                          padding-bottom: 5px;
                          color: #FFFFFF;
                            }
                    }
                 }
            }
    }


.chat-screen{
  float: left;
  width: 1140px;
    &__group{
      height: 100px;
          .group-name{
                  width: 200px;
                  float: left;
                        h1{
                          font-size: 20px;
                          color: #333333;
                          padding-top: 30px;
                          padding-left: 40px;
                        }
                        h2{
                          font-size: 12px;
                          color: #999999;
                          padding-top: 15px;
                          padding-left: 40px;
                        }
                      }
                    .edit{
                         float: right;
                         border-style: solid;
                         border-color: #38AEF0;
                         margin: 2px;
                         background-color: #FFFFFF;
                         margin-top: 25px;
                         margin-right: 30px;
                              input {
                                 height: 40px;
                                 width: 60px;
                                 font-size: 15px;
                                 text-align: center;
                                 color: #38AEF0;
                                    }
                          }
    }
    &__messages{
      height: 680px;
      background-color: #AAAAAA;
        .messages li{
                      padding-top: 40px;
                      padding-left: 40px;
                      font-size: 15px;
                      color: #FFFFFF;
                            span{
                              font-size: 11px;
                              color: #FFFFFF;
                                }
                    }
                }
    &__submit{
      height: 100px;
      background-color: #434A54;
      .message{
          float: left;
          padding-top: 20px;
          padding-left: 20px;
                input#message {
                    margin: auto;
                    border-right: 20px;
                    padding-left: 20px;
                    height: 60px;
                    width: 950px;
                    font-size: 15px;
                    border-style: none;
                      }
          }
        .send{
           float: right;
           padding-top: 20px;
           padding-right: 20px;
           margin: 0 auto;
                      input#send {
                          border-right: 20px ;
                          text-align: center;
                          height: 60px;
                          width: 100px;
                          font-size: 15px;
                          border-style: none;
                    }
              }

      }
}

