$bg-color1: #38AEF0;
$bg-color2: #FFFFFF;

html, body {
  height: 100%;
  width: 1440px;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}

.create-message {
  background-color: $bg-color1;
  height: 25px;
    p {
      color: white;
      font-size: 15px;
      text-align: center;
      vertical-align: middle;
    }
}

.chat-user {
  float: left;
  width: 300px;
    &__myself{
      height: 100px;
      background-color: #253141;
        p {
          float: left;
          padding-top: 30px;
          padding-left: 10px;
          color: $bg-color2;
          font-size: 20px;
          text-align: center;
          vertical-align: middle;
        }
        .fa-cog {
          float: right;
          padding-top: 35px;
          padding-right: 20px;
          font-size: 25px;

        }
        .fa-pencil-square-o {
          float: right;
          padding-top: 35px;
          padding-right: 10px;
          font-size: 25px;
        }
    }

    &__groups {
      height: 800px;
      background-color: #2f3e51;
        .groups {
              height: 91px;
                  li {
                    padding-top: 20px;
                    padding-left: 10px;
                    color: $bg-color2;
                    font-size: 15px;
                        span {
                          padding-top: 5px;
                          padding-bottom: 5px;
                          color: $bg-color2;
                          font-size: 11px;
                            }
                    }
        }
    }
}